.body_mark {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  position: fixed;
  z-index: 99;
  opacity: .3;
  filter: alpha(opacity=30);
  display: none; }

.head_r #buy {
  position: relative; }
  .head_r #buy span {
    width: 18px;
    height: 18px;
    position: absolute;
    right: -15px;
    top: -10px;
    background: #d10048;
    color: #ffffff;
    z-index: 100;
    border-radius: 9px;
    line-height: 18px;
    text-align: center; }

.product_list_nav {
  width: 942px;
  background: #fff;
  padding: 0 20px 15px 20px;
  overflow: hidden; }
  .product_list_nav .product_list_nav_top {
    height: 42px;
    line-height: 42px;
    border-bottom: 3px #eceae6 solid; }
    .product_list_nav .product_list_nav_top a {
      height: 42px;
      line-height: 42px;
      font-size: 14px;
      float: left;
      color: #888888; }
  .product_list_nav .product_list_nav_brand {
    line-height: 42px;
    color: #888888;
    border-bottom: 1px #eceae6 solid;
    float: left;
    overflow: hidden;
    height: 42px; }
    .product_list_nav .product_list_nav_brand h3 {
      float: left;
      height: 250px;
      margin-right: 60px; }
    .product_list_nav .product_list_nav_brand span {
      display: block;
      float: right;
      line-height: 20px;
      margin-top: 10px;
      height: 20px;
      width: 36px;
      color: #fea417;
      cursor: pointer; }
    .product_list_nav .product_list_nav_brand span:hover {
      color: #e8254a; }
  .product_list_nav .product_list_nav_classes {
    height: 42px;
    line-height: 42px;
    color: #888888;
    float: left; }
    .product_list_nav .product_list_nav_classes h3 {
      float: left;
      margin-right: 60px; }

.product_list_show {
  background: #ffffff;
  margin-top: 20px;
  padding-bottom: 25px; }
  .product_list_show .product_list_show_nav {
    height: 38px;
    background: #535353;
    border-radius: 5px 5px 0 0; }
    .product_list_show .product_list_show_nav h2 {
      width: 70px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      float: left;
      color: #ffffff; }
    .product_list_show .product_list_show_nav a {
      float: left;
      color: #ffffff;
      width: 70px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      font-size: 16px; }
    .product_list_show .product_list_show_nav a:nth-child(2) {
      position: relative; }
      .product_list_show .product_list_show_nav a:nth-child(2) b {
        width: 7px;
        height: 6px;
        position: absolute;
        top: 16px;
        left: 53px;
        background: url("../../../img/product_list_icon.png") no-repeat -10px -33px; }
    .product_list_show .product_list_show_nav a:nth-child(3) {
      position: relative; }
      .product_list_show .product_list_show_nav a:nth-child(3) b {
        width: 7px;
        height: 14px;
        position: absolute;
        top: 12px;
        left: 53px;
        background: url("../../../img/product_list_icon.png") no-repeat -10px 0; }
    .product_list_show .product_list_show_nav a:nth-child(4) {
      position: relative; }
      .product_list_show .product_list_show_nav a:nth-child(4) b {
        width: 7px;
        height: 8px;
        position: absolute;
        top: 16px;
        left: 53px;
        background: url("../../../img/product_list_icon.png") no-repeat 0 0; }
  .product_list_show .product_list_showStage {
    background: #ffffff;
    overflow: hidden;
    padding-top: 15px; }
    .product_list_show .product_list_showStage dl {
      width: 215px;
      float: left;
      margin-left: 23px;
      margin-top: 15px;
      cursor: pointer; }
      .product_list_show .product_list_showStage dl dt {
        width: 155px;
        height: 208px;
        margin: 0 auto;
        border: 1px #dddddd solid;
        padding: 6px 30px 6px 30px; }
        .product_list_show .product_list_showStage dl dt img {
          width: 160px;
          height: 210px; }
      .product_list_show .product_list_showStage dl dd {
        margin-top: 14px;
        color: #888888; }
        .product_list_show .product_list_showStage dl dd p {
          cursor: pointer;
          color: #888888;
          margin-bottom: 30px;
          width: 190px;
          height: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .product_list_show .product_list_showStage dl dd p:hover {
          color: #666666; }
        .product_list_show .product_list_showStage dl dd i {
          color: #f52648;
          font-size: 16px;
          font-style: normal; }
        .product_list_show .product_list_showStage dl dd a {
          height: 29px;
          width: 29px;
          background: url("../../../img/public-bg.png") no-repeat 0 -113px;
          float: right; }
  .product_list_show .product_list_show_page {
    overflow: hidden;
    margin-top: 41px;
    margin-left: 225px; }
    .product_list_show .product_list_show_page a {
      height: 28px;
      width: 28px;
      background: #ffffff;
      border: 1px #cfcfcf solid;
      border-radius: 3px;
      float: left;
      margin-right: 15px;
      line-height: 28px;
      text-align: center;
      color: #000; }
    .product_list_show .product_list_show_page a:last-child {
      width: 59px;
      height: 29px; }
    .product_list_show .product_list_show_page a:hover {
      color: #ffffff;
      background: #d10048; }

.product_list_cartAlert {
  width: 380px;
  height: 180px;
  background: #ffffff;
  border-radius: 10px;
  position: fixed;
  left: 440px;
  top: -380px;
  padding: 10px;
  z-index: 100; }
  .product_list_cartAlert .product_list_out {
    height: 24px;
    width: 24px;
    background: url("../../../img/public-bg.png") no-repeat 0 -172px;
    float: right; }
  .product_list_cartAlert span {
    display: block;
    width: 31px;
    height: 31px;
    background: url("../../../img/public-bg.png") no-repeat 0 -268px;
    margin: 50px 50px;
    float: left; }
  .product_list_cartAlert p {
    float: left;
    margin-top: 58px;
    margin-left: -40px;
    font-size: 14px;
    color: #888888; }
  .product_list_cartAlert .product_list_pay {
    width: 85px;
    height: 35px;
    background: #db085a;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-top: 120px;
    margin-left: -150px;
    border-radius: 5px; }
  .product_list_cartAlert .product_list_continueBuy {
    width: 100px;
    height: 35px;
    float: left;
    background: #bdbdbd;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    margin-top: 120px;
    margin-left: -30px; }

/*# sourceMappingURL=product_list.css.map */
